<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

    <!-- <%= javascript_pack_tag 'application' %>  -->
<!-- imported javascript from webpacker works here as well :D -->

<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player" style="position:absolute; top:0px;"></div>

<script>


    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '480',
        width: '720',
        videoId: 'M7lc1UVf-VE',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    // var done = false;
    // function onPlayerStateChange(event) {
    //   if (event.data == YT.PlayerState.PLAYING && !done) {
    //     setTimeout(stopVideo, 6000);
    //     done = true;
    //   }
    // }
    // function stopVideo() {
    //   player.stopVideo();
    // }


    window.setInterval(function() {
      var elem = document.getElementById('chatbox');
      elem.scrollTop = elem.scrollHeight;
    }, 5000);

  </script>

  <div id = "chatbox" style="position:relative; left:850px; overflow-y: auto;  overflow-x: hidden; height: 600px">
<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
    <% @messages.each do |message| %>
        <%= render message %>
    <% end %>
</div>
</div>

<div style="position:relative; left:850px;">
<%= form_for [@chatroom, Message.new] do |f| %>
    <%= f.text_field :body, rows: 1, class: "col-xs-3", autofocus:true %>
<% end %>
</div>
